<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block slider %}
{% endblock %}

{% block content %}
<section class="inner_page_head">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="full text-center">
               <h3 class="mb-5 text-white">Update Stock</h3>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="product_section layout_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 col-12">
                <form method="POST" class="p-4 shadow-lg rounded bg-light">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-dark mt-3 w-100" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
