<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block slider %}
{% endblock %}

{% block content %}
<section class="inner_page_head">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="full">
               <h3 class="mb-5 text-white">Billing Details</h3>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="product_section layout_padding">
    <div class="container w-50">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Address</label>
                <textarea name="a" class="form-control">Write address here</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Phone</label>
                <input type="number" name="p" class="form-control" placeholder="phone number">
            </div>
            <div class="mb-3">
                <label class="form-label">Pin</label>
                <input type="number" name="pin" class="form-control" placeholder="PIN number">
            </div>
            <input class="btn btn-outline-light mt-3" type="submit" value="submit">
        </form>
    </div>
</section>
{% endblock %}


